body
{
  max-width: 500px;
  margin: 2em auto;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
   background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #74ebd5, #acb6e5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #74ebd5, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1
{
  text-align: center;
}

.buttons-wrapper
{
  text-align: center;
}

.hidden
{
  display: none;
}

#transcription,
#log
{
  display: block;
  width: 100%;
  height: 5em;
  overflow-y: scroll;
  border: 1px solid #333333;
  line-height: 1.3em;
}

.button-demo
{
  padding: 0.5em;
  display: inline-block;
  margin: 1em auto;
}
#boxx
{
  align-content:center;
}
.fa-microphone
{
  text-decoration: none;
  color: black;
}